<%= form_with(model: add_on, local: true) do |form| %>
  <% if add_on.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(add_on.errors.count, "error") %> prohibited this add_on from being saved:</h2>

      <ul>
      <% add_on.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
