<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @subscription.app %>
</p>

<p>
  <strong>Add on:</strong>
  <%= @subscription.add_on %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
