<p id="notice"><%= notice %></p>

<p>
  <strong>App code:</strong>
  <%= @app.app_code %>
</p>

<p>
  <strong>Token:</strong>
  <%= @app.token %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @app.secret %>
</p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
