<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @request_demo.app %>
</p>

<p>
  <strong>Add on:</strong>
  <%= @request_demo.add_on %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @request_demo.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @request_demo.contact_phone %>
</p>

<%= link_to 'Edit', edit_request_demo_path(@request_demo) %> |
<%= link_to 'Back', request_demos_path %>
